version: '3.8'

services:
  api:
    build: .
    container_name: api-node
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/api_db
    volumes:
      - .:/app
    command: ["npm", "start"]

  mongo:
    image: mongo
    container_name: mongo-db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
